<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>
<body>
<% include ../partials/navadmin.ejs %>
<div class="flexbox">
	<div class="userlist">
		<form class="" action="bilar" method="post">

			<label for="sokbil">Sök bil</label>
			<input type="text" id="sokbil" name="sokbil">
			<button>Sök</button>
		</form>
	</div>
	<div class="bil-container">
		<ul class="bilinfo">
			<% if (locals.bil) {%>
				<li>
					<img src="/images/<%= bil.model.toLowerCase() %>.jpg" alt="bilen">
					<p>Bil: <%= bil.bil %></p>
					<p>Biltyp: <%= bil.biltyp %></p>
					<p>Bilmärke: <%= bil.bilmarke %></p>
					<p>Bilmodell: <%= bil.model %></p>
					<p>Årsmodell: <%= bil.year %></p>
					<p>Drivhjul: <%= bil.drivhjul %></p>
					<p>Drivmedel: <%= bil.drivmedel %></p>
					<p>Växellåda: <%= bil.vaxellada %></p>
					<p>Dragkrok: <%= bil.dragkrok %></p>
					<p>Reg.nr: <%= bil.regnummer %></p>
					<p>Besiktningperiod: <%= bil.besiktningperiod[0]%> - <%= bil.besiktningperiod[1]%></p>

				</li>
			<% }; %>
		</ul>
	</div>
	<a href="skapabil"><button>Skapabil</button></a>
	</div>
</div>

</body>
</html>
