<!DOCTYPE html>
<html>

	<head>

    <title></title>

    	<link rel='stylesheet' href='/stylesheets/style.css' />

	</head>

	<body>
	  <% include ../partials/navadmin %>
		<% if (locals.aktBok.length > 0) {%>
		<h2>Aktuella</h2>

		<% aktBok.forEach( function (bokBilarr) { %>
		<ul class="bil-container">
			<div class="left">
		  		<img src="/images/<%= bokBilarr[1].model.toLowerCase() %>.jpg" />
		  	</div>

		  	<div class="right">
			   	<ul>
            <li>Start datum & tid: <%= bokBilarr[0].from.split('T')[0] + ' ' + bokBilarr[0].from.split('T')[1]%></li>
            <li>Slut datum & tid: <%= bokBilarr[0].tom.split('T')[0] + ' ' + bokBilarr[0].tom.split('T')[1]%></li>
            <li>Bil: <%= bokBilarr[1].bil  %></li>
			   		<li>Modell: <%= bokBilarr[1].bilmarke %> <%= bokBilarr[1].model %></li>
			   		<li>Drivmedel: <%= bokBilarr[1].drivmedel  %></li>
			   		<li>Växellåda: <%= bokBilarr[1].vaxellada %></li>
			   		<li>Drivhjul: <%= bokBilarr[1].drivhjul %></li>
            <li>Användar-ID: <%= bokBilarr[0].user %> </li>
						<form action="bokningar/<%= bokBilarr[0].id %>" method="post">
              <button>Återlämna</button>
            </form>
			   	</ul>
			</div>

		</ul>
		<%})%>
		<%}%>

		<% if (locals.komBok.length > 0) {%>
		<h2>Kommande</h2>


		<% komBok.forEach( function (bokBilarr) { %>
		<ul class="bil-container">
			<div class="left">
					<img src="/images/<%= bokBilarr[1].model.toLowerCase() %>.jpg" />
				</div>

				<div class="right">
					<ul>
            <li>Start datum & tid: <%= bokBilarr[0].from.split('T')[0] + ' ' + bokBilarr[0].from.split('T')[1]%></li>
            <li>Slut datum & tid: <%= bokBilarr[0].tom.split('T')[0] + ' ' + bokBilarr[0].tom.split('T')[1]%></li>
            <li>Bil: <%= bokBilarr[1].bil  %></li>
						<li>Modell: <%= bokBilarr[1].bilmarke %> <%= bokBilarr[1].model %></li>
						<li>Drivmedel: <%= bokBilarr[1].drivmedel  %></li>
						<li>Växellåda: <%= bokBilarr[1].vaxellada %></li>
						<li>Drivhjul: <%= bokBilarr[1].drivhjul %></li>
            <li>Användar-ID: <%= bokBilarr[0].user %> </li>
						<form action="bokningar" method="post">
						  <input type="hidden" name="id" value="<%= bokBilarr[0].id %>">
              <button>Avboka</button>
            </form>
					</ul>
			</div>

		</ul>
		<%})%>
		<%}%>

		<% if (locals.tidBok.length > 0) {%>
		<h2>Tidigare</h2>



		<% tidBok.forEach( function (bokBilarr) { %>
		<ul class="bil-container">
			<div class="left">
					<img src="/images/<%= bokBilarr[1].model.toLowerCase() %>.jpg" />
				</div>

				<div class="right">
					<ul>
            <li>Start datum & tid: <%= bokBilarr[0].from.split('T')[0] + ' ' + bokBilarr[0].from.split('T')[1]%></li>
            <li>Slut datum & tid: <%= bokBilarr[0].tom.split('T')[0] + ' ' + bokBilarr[0].tom.split('T')[1]%></li>
            <li>Bil: <%= bokBilarr[1].bil  %></li>
						<li>Modell: <%= bokBilarr[1].bilmarke %> <%= bokBilarr[1].model %></li>
						<li>Drivmedel: <%= bokBilarr[1].drivmedel  %></li>
						<li>Växellåda: <%= bokBilarr[1].vaxellada %></li>
						<li>Drivhjul: <%= bokBilarr[1].drivhjul %></li>
            <li>Användar-ID: <%= bokBilarr[0].user %> </li>
					</ul>
			</div>

		</ul>
		<%})%>
		<%}%>
  </body>

</html>
