<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Redigera användare</h2>

    <form action="<%= redanv._id %>" method="POST">

      <label for="id">Id:</label><br>
      <input type="text" name="id" id="id" value="<%= redanv.id %>" /><br><br>
    	<label for="anvnamn">Användarnamn:</label><br>
    	<input type="text" name="anvnamn" id="anvnamn" value="<%= redanv.name %>" /><br><br>
      <label for="anvnamn">Mobil:</label><br>
      <input type="text" name="mobil" id="mobil" value="<%= redanv.mobil %>" /><br><br>
      <label for="anvnamn">Email:</label><br>
      <input type="text" name="email" id="email" value="<%= redanv.email %>" /><br><br>

      <label for="avdelning">Avdelning: <%= redanv.avdelning %></label><br>
      <select name="avdelning" id="avdelning">

        <option name="valj" id="valj" value="valj">Välj</option>
        <option name="eoa" id="eoa" value="Ekonomi och Administration">Ekonomi och Administration</option>
        <option name="hr" id="hr" value="HR">HR</option>
        <option name="fom" id="fom" value="Försäljning och Marknad">Försäljning och Marknad</option>
        <option name="service" id="service" value="Service">Service</option>
        <option name="it" id="it" value="IT-Avdelningen">IT-Avdelningen</option>

      </select><br><br>

      <input type="radio" name="type" id="admin" value="true" />
      <label for="admin">Admin</label>
      <input type="radio" name="type" id="normal" checked="true" value="false" />
      <label for="normal">Normal</label><br><br>
    	<label for="password">Lösenord:</label><br>
    	<input type="password" name="password" id="password" value="<%=redanv.pwd %>" /><br><br>
      <label for="password">Lösenord igen:</label><br>
      <input type="password" name="password" id="password" value="<%= redanv.pwd %>" /><br><br>
    	<input type="submit" name="login" id="login" value="Uppdatera" />

    </form>
    <FORM><INPUT Type="button" VALUE="Tillbaka" onClick="history.go(-1);return true;"></FORM>
  </body>
</html>
