<!DOCTYPE html>
<html>
	
	<head>
    
    <title></title>
    
    	<link rel='stylesheet' href='/stylesheets/style.css' />
	
	</head>
  
	<body>
	    <% include ../partials/nav %>

		<h2>Aktuella</h2>

		<div class="bil-container">

			<div class="left">
		  		<img src="bil.jpg" />
		  	</div>

		  	<div class="right">
			   	<ul>
			   		
			   		<li>Modell: <%= model %></li>
			   		<li>Drivmedel: <%= drivmedel %></li>
			   		<li>Växellåda: <%= vaxellada %></li>
			   		<li>Drivhjul: <%= drivhjul %></li>

			   	</ul>
			</div>    	
    	</div>

    	<h2>Kommande</h2>

		<div class="bil-container">
  			

			<div class="left">
		  		<img src="bil.jpg" />
		  	</div>

		  	<div class="right">
			   	<ul>
			   		
			   		<li>Modell: <%= model %></li>
			   		<li>Drivmedel: <%= drivmedel %></li>
			   		<li>Växellåda: <%= vaxellada %></li>
			   		<li>Drivhjul: <%= drivhjul %></li>

			   	</ul>
			</div>	
    	</div>
  		
  		<h2>Tidigare</h2>

    	<div class="bil-container">
  			

			<div class="left">
		  		<img src="bil.jpg" />
		  	</div>

		  	<div class="right">
			   	<ul>
			   		
			   		<li>Modell: <%= model %></li>
			   		<li>Drivmedel: <%= drivmedel %></li>
			   		<li>Växellåda: <%= vaxellada %></li>
			   		<li>Drivhjul: <%= drivhjul %></li>

			   	</ul>
			</div>
	    	
    	</div>
    
  </body>

</html>